<div class="sidebar-sports">
  <div class="side-header">
    <p>Which sport are playing today?</p>
  </div>
  <div class="row">
    <%= render 'side_card', sport: 'softball' %>
    <%= render 'side_card', sport: 'flag_football' %>
  </div>
  <div class="row">
    <%= render 'side_card', sport: 'soccer' %>
    <%= render 'side_card', sport: 'bowling' %>
  </div>
  <div class="row">
    <%= render 'side_card', sport: 'volleyball' %>
    <%= render 'side_card', sport: 'basketball' %>
  </div>
  <p>Looking for something else?</p>
</div>
