<div class="static-homepage">
  <section class="header landing-head">
    <%= render 'layouts/header', view: 'landing' %>
  </section>
  <section class="hiw">
    <div class="container">
      <div class="row">
        <h2 class="col-xs-12">How <strong>WreckYourLeague</strong> Works</h2>
        <%= render 'static_pages/hiw_item',
          hiw_item: 'pencil',
          hiw_title: 'Tell Us About Your Game',
          hiw_text: 'This will help us find the best players for your team'
        %>
        <%= render 'static_pages/hiw_item',
          hiw_item: 'users',
          hiw_title: 'Pick a player',
          hiw_text: 'Players are rated based on their performance in every game'
        %>
        <%= render 'static_pages/hiw_item',
          hiw_item: 'trophy',
          hiw_title: 'Have fun, winning',
          hiw_text: 'This will help us find the best players for your team'
        %>
      </div>
    </div>
  </section>
  <section id="sports" class="sports">
    <div class="container">
      <h2>Find players for many sports</h2>
      <div class="row">
        <%= render 'static_pages/sports_item', sport: 'Basketball', img: 'basketball.jpg'  %>
        <%= render 'static_pages/sports_item', sport: 'Flag Football', img: 'football.gif' %>
        <%= render 'static_pages/sports_item', sport: 'Softball', img: 'softball.jpg' %>
        <%= render 'static_pages/sports_item', sport: 'Bowling', img: 'bowlingball.jpg' %>
        <%= render 'static_pages/sports_item', sport: 'Soccer', img: 'soccerball.jpg' %>
        <%= render 'static_pages/sports_item', sport: 'Volleyball', img: 'volleyball.jpg' %>
      </div>
    </div>
  </section>
</div>
<script>
$('#sports-btn').on('click', function(event) {
  event.preventDefault();
  $.scrollTo('#sports', {duration:800});
})
</script>
<!--<script>$(App.initialize);</script>-->
