<div class="static-homepage">
  <section class="header">
    <%= render 'layouts/header' %>
  </section>
  <section class="hiw">
    <div class="container">
      <div class="row">
        <h2 class="col-xs-12">How <strong>WreckYourLeague</strong> Works</h2>
        <%= render 'static_pages/hiw_item',
          hiw_item: 'pencil',
          hiw_title: 'Tell Us About Your Game',
          hiw_text: 'This will help us find the best players for your team'
        %>
        <%= render 'static_pages/hiw_item',
          hiw_item: 'users',
          hiw_title: 'Pick a player',
          hiw_text: 'Players are rated based on their performance in every game'
        %>
        <%= render 'static_pages/hiw_item',
          hiw_item: 'trophy',
          hiw_title: 'Have fun, winning',
          hiw_text: 'This will help us find the best players for your team'
        %>
      </div>
    </div>
  </section>
  <section id="sports" class="sports">
    <div class="container">
      <h2>Find players for many sports</h2>
      <div class="row">
        <%= render 'static_pages/sports_item', sport: 'Basketball', url: 'http://cdn.missourinet.com/wp-content/uploads/2015/03/basketball-2.jpg' %>
        <%= render 'static_pages/sports_item', sport: 'Flag Football', url: 'http://www.powerandgraceperformance.com/wp-content/uploads/2014/08/6a00d83451629b69e2017d3c77184d970c-800wi.gif' %>
        <%= render 'static_pages/sports_item', sport: 'Softball', url: 'http://media.columbiamissourian.com/multimedia/2014/09/02/media/20140902_SK_Hickmansoftball039_001_t_w600_h1200.jpg' %>
        <%= render 'static_pages/sports_item', sport: 'Bowling', url: 'http://entertainmentguide.local.com/DM-Resize/photos.demandstudios.com/getty/article/103/171/80376053.jpg?w=600&h=600&keep_ratio=1' %>
        <%= render 'static_pages/sports_item', sport: 'Soccer', url: 'http://www.digi-labs.net/blog/wp-content/uploads/2014/02/soccer-ball3.jpg' %>
        <%= render 'static_pages/sports_item', sport: 'Volleyball', url: 'http://www.idahoofficials.com/wp-content/uploads/2009/05/Volleyball.jpg' %>
      </div>
    </div>
  </section>
</div>
<script>
$('#sports-btn').on('click', function(event) {
  event.preventDefault();
  $.scrollTo('#sports', {duration:800});
})
</script>
<script>$(App.initialize);</script>
