<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= message %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :fname, 'First name' %>
    <div>
      <%= f.text_field :fname, class: "form-control", autofocus: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lname, 'Last name' %>
    <div>
      <%= f.text_field :lname, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <div>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zipcode %>
    <div>
      <%= f.text_field :zipcode, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <div>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <div>
      <%= f.submit 'Sign up', class: "col-md-12 btn btn-default" %>
    </div>
  </div>
<% end %>
