<!DOCTYPE html>
<html>
  <head>
    <title>WreckYourLeague</title>
    <link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <% if Rails.env.production? %>
      <% api_key = "key=AIzaSyDvf4AwOv908NkctdFlGcw8tKL_bXj65TM" %>
    <% else %>
      <% api_key = '' %>
    <% end %>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?<%= api_key %>&libraries=drawing,geometry"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
